/*----------------------
  1. IMPORTANT IMPORTS
------------------------*/

// ! Import Modules
@font-face {
  font-family: 'cocosharpbold';
  src: url(/fontStyles/cocosharp/Coco-Sharp-Heavy-trial.ttf);
}

@font-face {
  font-family: 'tommy';
  src: url(/fontStyles/made_tommy/tommyregular.otf);
}
// Custom.scss
// Option A: Include all of Bootstrap

// Include any default variable overrides here (though functions won't be available)

@import "../node_modules/bootstrap/scss/bootstrap";

// Then add additional custom code here



/*----------------------
  2. LOADER ANIMATION
------------------------*/
.animate {
  position: relative;
  -webkit-animation-name: animate;
  -webkit-animation-duration: 1s;
  animation-name: animate;
  animation-duration: 1s;
}

@-webkit-keyframes animate {
  from {
    bottom: -100px;
    opacity: 0;
  }
  to {
    bottom: 0px;
    opacity: 1;
  }
}

@keyframes animate {
  from {
    bottom: -100px;
    opacity: 0;
  }
  to {
    bottom: 0;
    opacity: 1;
  }
}

/*----------------------
  3. DEFINE FONT FAMILY
------------------------*/
p, span, button, input {
  font-family: tommy;
}
h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5 {
  font-family: cocosharpbold;
}


/*----------------------
  3. ALIGNMENTS
------------------------*/
.horizontal { display: inline-block; }
.wrapper-horizontal{ text-align: center; }
.text-center{ text-align: center; }

/*----------------------
  4. IMAGES
------------------------*/
.images{
  border-radius: 50%;
  height: 200px;
}

/*------------------------
  5. ROOT COLOR VARIABLES
--------------------------*/
:root {
  --white-color: #F8F9FA;
  --dark-color: #212529;
  --purple-color: #4723D9; /*original: #4723D9*/
  --light-yellow-color: #FEF1E6;
  --yellow-color: #F9D5A7;
  --orange-color: #FFB085;
  --pink-color: #FC6681;
  --light-pink-color: #FEEAE6;
}

/*------------------------
  6. HTML & BODY
--------------------------*/
html, body {
  scroll-behavior: smooth;
  overflow-x: hidden;
  height: 100%;
  max-width: 100%;
  width: 100%;
  overflow-x: initial !important;
  background-color: #fefefe; /* PAG MAY NASIRA, ITO YUN*/
}

body.bodyColor {
  background-color: var(--light-yellow-color);
}
nav.navColor {
  background-color: var(--light-yellow-color);
}

/*-----------------------------------
  7. ROOT VARIABLES - kayo na bahala
-------------------------------------*/
:root {
  --variableName: 1px; /*sample*/
}



/*-----------------------------------------
  A.1 HOME PAGE (YANI)
-------------------------------------------*/
  
nav #registerButton{
  border-radius: 1em;
  width: 10em;
  /*background-color: #FFB085;
  color: white;*/
}

nav #loginButton{
  border-radius: 1em;
  width: 10em;
  /*background-color: white;
  border-color: white;*/
}

#homepage-mtej{
  margin-bottom: 2em;
}

#simulanNaButton {
  white-space: nowrap;
  background-color: #F8A825 ;
}

.carouselContainer {
  background-color: var( --light-yellow-color);
  padding-top: 5rem;
}

.carousel-item{
  padding-bottom: 5rem;
}

#tungkolSaMtej{
  height: 100vh;
  padding: 0 50px 0 50px;
}

#tungkolSaMtej img{
  height: 40vh;
  margin-top: 3em;
}

.hero-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 50px 0 50px;
  -webkit-box-align: center;
    -ms-flex-align: center;
        align-items: center;
  -webkit-box-pack: center;
    -ms-flex-pack: center;
        justify-content: center;
  height: 100vh;
  background-color: #F9D5A7;
}

.hero-container .title {
  font-size: 2.7rem;
  font-weight: bold;
  font-family: tommy;
  color: black;
}

.hero-container .description {
  font-size: 1.5rem;
  font-family: tommy;
  color: black;
  text-align: justify;
}

.hero-container img{
  height:40vh;
  margin-left: 10em;
}

/*-----------------------------------------
  A.2 HOME PAGE (AIRONNE)
-------------------------------------------*/

.title {
  font-size: 2.7rem;
  font-weight: bold;
  font-family: tommy;
  color: black;
}

.description {
  font-size: 1.5rem;
  font-family: tommy;
  color: black;
  text-align: justify;
}

.hero-1-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 50px 0 50px;
  -webkit-box-align: center;
    -ms-flex-align: center;
        align-items: center;
  -webkit-box-pack: center;
    -ms-flex-pack: center;
        justify-content: center;
  height: 100vh;
  background-color: #FEF1E6;
}

.hero-2-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 50px 0 50px;
  -webkit-box-align: center;
    -ms-flex-align: center;
        align-items: center;
  -webkit-box-pack: center;
    -ms-flex-pack: center;
        justify-content: center;
  height: 100vh;
  background-color: #F9D5A7;
}

.hero-1-container img{
  height:40vh;
}

.hero-2-container img {
  height: 40vh;
}



/*-----------------------------------------
  B. NAVBAR & SIDEBAR
-------------------------------------------*/
nav.navbar {
  z-index: 100;
}

nav.navbar div.container-fluid {
  justify-content:unset;
}

nav div.navbar-right {
  text-align: right;
}

/*-----------------------------------------
SIDEBAR
-------------------------------------------*/
:root {
  --header-height: 3rem;/**/
  --nav-width: 68px;/**/
  --normal-font-size: 1rem;
  --z-fixed: 100
}
*,::before,::after {box-sizing: border-box}

body { 
  margin: var(--header-height) 0 0 0;
  /*padding: 0 1rem;*/
  font-size: var(--normal-font-size);
  transition: .5s
}

a { text-decoration: none }

.header { 
  width: 100%;
  height: var(--header-height);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
  background-color: var(--purple-color);
  z-index: var(--z-fixed);transition: .5s
}

.header_toggle i { color: var(--dark-color); }
.header_toggle { 
  color: var(--white-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 5%;
  font-size: 1.5rem;
  line-height: 1;
  padding: 0.25rem 0.75rem;
  cursor: pointer;
}

.header_img { 
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  border-radius: 50%;
  overflow: hidden
}

.header_img img {width: 40px}

.l-navbar {
  position: fixed;
  top: 0;
  left: -30%;
  width: var(--nav-width);
  height: 100vh;
  background-color: var(--white-color);
  padding: .5rem 1rem 0 0;
  transition: .5s;
  z-index: var(--z-fixed)
}
.nav {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden
}

.nav_logo i { color: var(--dark-color)}
.nav_logo, .nav_link{
  display: grid;
  grid-template-columns: max-content max-content;
  align-items: center;
  column-gap: 1rem;
  padding: .5rem 0 .5rem 1.5rem }
.nav_logo {margin-bottom: 2rem}
.nav_logo-icon {font-size: 1.25rem;color: var(--yellow-color)}
.nav_logo-name {
  color: var(--dark-color);
  font-weight: 700;
}
.nav_link {
  //font-family: tommy;
  position: relative;
  color: var(--dark-color);
  margin-bottom: 1.5rem; 
  border-radius: 1em; 
  transition: .3s }
.nav_link:hover {
  background-color: var(--yellow-color);
  border-radius: 1em;
  color: var(--dark-color); }
.nav_icon{font-size: 1.25rem}

.l-navbar.show{left: 0}
.body-pd{ padding-left: calc(var(--nav-width))} /*mobile phone*/

nav .active{color: var(--pink-color)}
nav .active::before{
  content: '';
  position: absolute;
  left: 0;
  width: 2px;
  height: 32px;
  background-color: var(--pink-color)
}
.height-100{height:100vh}
@media screen and (min-width: 768px){
  body{
      margin: calc(var(--header-height) + 1rem) 0 0 0;
      padding-left: calc(var(--nav-width));
  }
  .header{
      height: calc(var(--header-height) + 1rem);
      padding: 0 2rem 0 calc(var(--nav-width) + 2rem)
  }
  .header_img{width: 40px;height: 40px}
  .header_img img{width: 45px}
  .l-navbar{left: 0;padding: 1rem 1rem 0 0}
  
  .l-navbar.show{width: calc(var(--nav-width) + 7rem)} /*modal*/
  .body-pd{padding-left: calc(var(--nav-width) + 7rem)}
}


/*-----------------------------------------
  C. EMAIL CONFIRMATION PAGE 
-------------------------------------------*/
/* c1. container  */

.email-confirmation-container {
  padding-left: 40px;
  padding-right: 40px;
  justify-content:center;
  top: 0; left: 0; bottom: 0; right: 0;
  z-index: 1;
}
/* c2. image  */
.email-confirmation-container img {
  width: 400px;
  height: auto;
  position: relative;
  margin: 30px auto 30px auto; /*top, right, bottom, left*/    
}

/*-----------------------------------------
  C. LOGIN PAGE 
-------------------------------------------*/

/* c1. container  */
.login-container {
  background-color: var(--light-yellow-color);
  padding-left: 40px;
  padding-right: 40px;
  position: relative;
  top: 0; left: 0; bottom: 0; right: 0;
  z-index: 1;
}

/* c2. image  */
.login-container img {
  width: 30%;
  height: auto;
  position: relative;
  margin: 30px auto 30px auto; /*top, right, bottom, left*/    
}

/* c3. form container */
.login-form-container {
  position: relative;
  display: inline-block;
  max-width: fit-content; /*changes container width*/
  width:500px;

  background-color: #FFB085; /*original: FFB085*/
  border-radius: 40px;
  /*box-shadow: 2px 2px;*/
  
  padding: 20px 50px 50px 50px; /*top, right, bottom, left*/    
  margin: 0px auto 50px auto; /*top, right, bottom, left*/    

  
}

/* c5: form-button */
.login-form-container div.form-group input { border-radius: 40px; }
.login-form-container button.form-submit {
  border-radius: 40px;
  width: 100%;
  outline: none;
}

/* c6: buttoms (submit, register, and forgot password) */
button#submitbtnLogin {
  background-color: #3C97B6; /*original: 90AACB*/
  color: white;
  outline: none;
}
button#submitbtnLogin:hover {
  background-color: #26728c;
}
button#registerPage {
  background-color: #F9D5A7; /*original: E59E77*/
  color: black;
  outline: none;
}
button#registerPage:hover {
  background-color: #dbbc93;
}
a.forgot-password {
  font-size: 10pt;
  color: #595959;
  text-decoration: none;
  margin-top: 5px;
  margin-bottom: 15px;
  text-align: center;
}


p a.forgot-password:hover {
  text-decoration: underline;
}

/*-----------------------------------------
  D. REGISTER PAGE 
-------------------------------------------*/

/* d1. container  */
.register-container {
  background-color: #FEF1E6;
  padding-left: 40px;
  padding-right: 40px;
  position: absolute; /*absolute: fix to bottom, relative: default*/
  top: 50px; left: 0; bottom: 0; right: 0;
  z-index: 1;    
}

/* d2. image  */
.register-container img {
  width: 100%;
  height: auto;
  position: relative;
  margin: 90px auto 0px auto; /*top, right, bottom, left*/    
}

/* d3. form container */
.register-form-container {
  position: relative;
  display: inline-block;
  max-width: fit-content; /*changes container width*/
  width:500px;

  background-color: #FFB085; /*original: FFB085*/
  border-radius: 60px;
  /*box-shadow: 2px 2px;*/
  
  padding: 20px 50px 50px 50px; /*top, right, bottom, left*/
  margin: 50px auto 50px auto; /*top, right, bottom, left*/    
}

/* d4: buttons (submit, register, and forgot password) */
button#signUp {
  background-color: #3C97B6; /*original: 90AACB*/
  color: white;
  outline: none;
  width: 100%;
  border-radius: 40px;
  margin-top: 25px;
}
button#signUp:hover {
  background-color: #26728c;
}
a.login-button {
  font-size: 10pt;
  color: #ffffff;
  text-decoration: none;
  margin-top: 5px;
  margin-bottom: 15px;
  text-align: center;
}
p a.login-button:hover {
  text-decoration: underline;
}

/*-----------------------------------------
  E. LOGIN & REGISTER INPUT DESIGN 
-------------------------------------------*/
.log-reg-input {
  padding: 0px 10px 0px 10px; /*top, right, bottom, left*/
  background-color: white;
  border-radius: 20px;
  border: 2px solid #90AACB;
  color: #90AACB; /* change icon color */
  white-space: nowrap; /* makes them inline */
}

.log-reg-input input,
.log-reg-input input[type="text"]:focus,
.log-reg-input input[type="text"]:active,
.log-reg-input input[type="email"]:focus,
.log-reg-input input[type="email"]:active,
.log-reg-input input[type="password"]:focus,
.log-reg-input input[type="password"]:active {
  background: transparent;
  border: none; 
  outline: none;
  box-shadow: none;
  -webkit-box-shadow: none;
  display: inline-block;
  margin-right: 30px;
}

.form-group {
  margin-top: 12px;
  margin-bottom: 12px;
}

.alert-danger {
  background-color: var(--pink-color);
  color: var(--white-color);
  border: none;
}


/*-----------------------------------------
  G. ADMIN
-------------------------------------------*/

//MANAGE USERS (YANI)

//MANAGE MOOD DIARY (KARL)

/*----------------------------------------
  H. MOOD DIARY
----------------------------------------*/

.titleContainer {
  margin-top: 30px;
}
.moodButtonContainer {
  text-align: center;
}

.moodButtonContainer i {
  color: var(--pink-color);
}

.moodButtonContainer button {
  background-color: var(--light-yellow-color);
}

.moodDiaryContainer {
  margin: 50px 30px 30px 30px; /*top, right, bottom, left*/  
  padding: 5rem; 
  background-color: var(--light-yellow-color);
}

table.moodDiaryTable {
  border: 3px solid var(--dark-color);
  margin: 0 auto;
  table-layout: fixed;
  white-space: nowrap;
}

table.moodDiaryTable th {
  background-color: var(--pink-color);
  width: 50px;
  height: 30px;
  text-align: center;
  border: 1px solid black;
  table-layout: fixed;
}

table.moodDiaryTable td {
  height: 50px;
  border: 1px solid black;
  table-layout: fixed;
  overflow: hidden;
}

// MODAL DESIGNS
.modal-content {
  background-color: var(--white-color);
}

.modal button.btn-secondary { background-color: var(--yellow-color); }
.modal button.btn-primary { background-color: var(--pink-color); }
.modal .modal-content button i { color: var(--dark-color); }
.modal .modal-content button { color: var(--dark-color); }

.modal .modal-body img {
  display: block;
}

.modal .moodPicker {
  margin-top: 30px;
}

//Define mood colors
:root {
  --mood10: #FF0000;
  --mood9: #C00000;
  --mood8: #FFCC00;
  --mood7: #BF9000;
  --mood6: #FF9C19;
  --mood5: #00B050;
  --mood4: #06BDD0;
  --mood3: #0070C0;
  --mood2: #7030A0;
  --mood1: #203864;
  --mood0: #000000;
}

//Modal mood picker colors
.mood0.btn:hover, .mood0.btn:focus, .mood0.btn:checked { background-color: var(--mood0); color: var(--white-color); border-color: var(--mood0);}
.mood1.btn:hover, .mood1.btn:focus, .mood1.btn:checked { background-color: var(--mood1); color: var(--white-color); border-color: var(--mood1);}
.mood2.btn:hover, .mood2.btn:focus, .mood2.btn:checked { background-color: var(--mood2); color: var(--white-color); border-color: var(--mood2);}
.mood3.btn:hover, .mood3.btn:focus, .mood3.btn:checked { background-color: var(--mood3); color: var(--white-color); border-color: var(--mood3);}
.mood4.btn:hover, .mood4.btn:focus, .mood4.btn:checked { background-color: var(--mood4); color: var(--white-color); border-color: var(--mood4);}
.mood5.btn:hover, .mood5.btn:focus, .mood5.btn:checked { background-color: var(--mood5); color: var(--white-color); border-color: var(--mood5);}
.mood6.btn:hover, .mood6.btn:focus, .mood6.btn:checked { background-color: var(--mood6); color: var(--white-color); border-color: var(--mood6);}
.mood7.btn:hover, .mood7.btn:focus, .mood7.btn:checked { background-color: var(--mood7); color: var(--white-color); border-color: var(--mood7);}
.mood8.btn:hover, .mood8.btn:focus, .mood8.btn:checked { background-color: var(--mood8); color: var(--white-color); border-color: var(--mood8);}
.mood9.btn:hover, .mood9.btn:focus, .mood9.btn:checked { background-color: var(--mood9); color: var(--white-color); border-color: var(--mood9);}
.mood10.btn:hover, .mood10.btn:focus, .mood10.btn:checked { background-color: var(--mood10); color: var(--white-color); border-color: var(--mood10);}

.btn-check:checked + .mood0, .btn-check:active + .mood0, .mood0:active, .mood0.active, .mood0.dropdown-toggle.show { background-color: var(--mood0); color: var(--white-color); border-color: var(--mood0); }
.btn-check:checked + .mood1, .btn-check:active + .mood1, .mood1:active, .mood1.active, .mood1.dropdown-toggle.show { background-color: var(--mood1); color: var(--white-color); border-color: var(--mood1); }
.btn-check:checked + .mood2, .btn-check:active + .mood2, .mood2:active, .mood2.active, .mood2.dropdown-toggle.show { background-color: var(--mood2); color: var(--white-color); border-color: var(--mood2); }
.btn-check:checked + .mood3, .btn-check:active + .mood3, .mood3:active, .mood3.active, .mood3.dropdown-toggle.show { background-color: var(--mood3); color: var(--white-color); border-color: var(--mood3); }
.btn-check:checked + .mood4, .btn-check:active + .mood4, .mood4:active, .mood4.active, .mood4.dropdown-toggle.show { background-color: var(--mood4); color: var(--white-color); border-color: var(--mood4); }
.btn-check:checked + .mood5, .btn-check:active + .mood5, .mood5:active, .mood5.active, .mood5.dropdown-toggle.show { background-color: var(--mood5); color: var(--white-color); border-color: var(--mood5); }
.btn-check:checked + .mood6, .btn-check:active + .mood6, .mood6:active, .mood6.active, .mood6.dropdown-toggle.show { background-color: var(--mood6); color: var(--white-color); border-color: var(--mood6); }
.btn-check:checked + .mood7, .btn-check:active + .mood7, .mood7:active, .mood7.active, .mood7.dropdown-toggle.show { background-color: var(--mood7); color: var(--white-color); border-color: var(--mood7); }
.btn-check:checked + .mood8, .btn-check:active + .mood8, .mood8:active, .mood8.active, .mood8.dropdown-toggle.show { background-color: var(--mood8); color: var(--white-color); border-color: var(--mood8); }
.btn-check:checked + .mood9, .btn-check:active + .mood9, .mood9:active, .mood9.active, .mood9.dropdown-toggle.show { background-color: var(--mood9); color: var(--white-color); border-color: var(--mood9); }
.btn-check:checked + .mood10, .btn-check:active + .mood10, .mood10:active, .mood10.active, .mood10.dropdown-toggle.show { background-color: var(--mood10); color: var(--white-color); border-color: var(--mood0); }


div.dropdown-menu {
  top: 170px !important;
}

@media screen and (min-width: 768px){
  div.dropdown-menu {
    top: 200px !important;
  }
}

/*----------------------------------------
  I. ATJ Entry
----------------------------------------*/

.accordion-collapse {
  width: 100%;
}

/*----------------------------------------
  J. FORGOT PASSWORD PAGE
----------------------------------------*/
button#reset-password-btn {
  background-color: #3C97B6;
  color: white;
  outline: none;
  width: 100%;
  border-radius: 40px;
  margin-top: 2px;
}

/*----------------------------------------
  K. ADMIN: TABLES
----------------------------------------*/

.table-container {
  margin: 20px 20px 20px 20px; /*top, right, bottom, left*/  
  padding: 0px 50px 20px 20px; /*top, right, bottom, left*/

}

/*----------------------------------------
  L. ATJ PAGE INFORMATION 
----------------------------------------*/
.section-one{
  width: 100%;
  min-height: 100vh;
  background-color: var( --light-yellow-color);
}

.section-two{
  width: 100%;
  min-height:100vh;
  background-color: var( --orange-color);
}

.container-one, 
.container-two{
  width: 80%;
  display: block;
  margin: auto;
  padding-top: 100px;
}

.contentOne-section{
  float: left;
  width: 55%;
}

.contentTwo-section{
  float: right;
  width: 55%;
}

.contentOne-section .containerOne-content p,
.contentTwo-section .containerTwo-content p{
  margin-top: 15px;
  font-size: 20px;
  line-height: 1.5;
  text-align: justify;
}

.contentOne-section .title,
.contentTwo-section .title{
  font-size: 28px;
  margin-top: 15px;
}

.containerOne-image-section{
  float: right;
  width: 40%;
}

.containerTwo-image-section{
  float: left;
  width: 40%;
}

.containerOne-image-section img,
.containerTwo-image-section img{
  width: 100%;
  height: auto;
}


@media screen and (max-width: 768px){
  .container-one,
  .container-two{
    width: 80%;
    display: block;
    margin: auto;
    padding-top: 50px;
  }

  .contentOne-section,
  .contentTwo-section{
    float: none;
    width: 100%;
    display: block;
    margin:auto;
  }

  .containerOne-image-section,
  .containerTwo-image-section{
    float: none;
    width: 100%;
    display: block;
    margin:auto;
  }

  .containerOne-image-section img,
  .containerTwo-image-section img{
    width: 100%;
    height: auto;
    display: block;
    margin: auto;
  }

  .contentOne-section .title,
  .contentTwo-section .title{
   text-align: center;
   font-size: 19px;
  }
}

